{ "env": {
    "testing": {
      "presets": [
        "env",
        "react",
        "stage-2",
        "stage-3"
      ]
    }
  },
  "presets": [
    "react",
    "stage-2",
    "stage-3",
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-class-properties",
    "react-hot-loader/babel"
  ]
}
